body {
  min-height: 75rem;
  padding-top: 5.5rem;
}

.container {
  width: auto;
  padding: 0 15px;
}

.navbar .row {
  align-items: center;
}

.navbar .logo {
  background: #fff;
  padding: 0.2rem 0.7rem 0.2rem 1rem;
}

.navbar .site-title {
  background: #4D028C;
}

.dropdown-menu {
  border: none;
}

.dropdown-item {
  color: #eee;
}